@use './abstract/reset';
@use './abstract/colors' as *;
@use './abstract/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

//btn wrapper center 
.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    height: 100vh;
    display: grid;
    grid-template-rows: 3rem 1fr;
    @include vendorPrefix(user-select, none, ('-webkit-', '-moz-', '-o-'), false);
    background: linear-gradient(to right, $mountbatten-pink, $blue-bell);
    color: $white-smoke;
}

button,input {
    font-family: 'Source Sans Pro', sans-serif;
}

header h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    color: $white-smoke;
}

main {
    align-self: center;
    padding: 0rem 1.5rem;
}

.game-main-body {
    border-radius: 0.625rem;
    background-color: $light-gray;
    backdrop-filter: blur(10px);
    padding: 3rem 0rem;
    max-width: 37.5rem;
    width: 100%;
    margin: 2rem auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    & > div {
        display: grid;
        grid-template-rows: 1.1rem 1fr 3rem;
        gap: 1rem;

        @include forHeight(332px) {
            grid-template-rows: 1.1rem 1fr 12vh;
        }


        p {
            text-align: center;
            color: $main-dark;
            font-size: 1.2rem;
            font-weight: bold;

            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }

        .player-point {
            font-size: 11rem;
            font-weight: 600;
            text-align: center;
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.1rem;

            @include forHeight(332px) {
                gap: 0rem;
            }

            input[type="radio"] {
                appearance: none;
                -webkit-appearance: none;
                width: 3rem;
                height: 3rem;
                cursor: pointer;
                border: 0rem;
                border-radius: 0.625rem;

                background: {
                    repeat: no-repeat;
                    size: 3rem;
                    position: center;
                }

                &:checked {
                    background-color: $light-gray;
                }

                @include forHeight(332px) {
                    background-size: 60%;
                }
            }

            #rock {
                background-image: url('./icons/icons8-rock-48.png');
            }

            #paper {
                background-image: url('./icons/icons8-matt-paper-48.png');
            }

            #scissor {
                background-image: url('./icons/icons8-scissor-48.png');
            }
        }
    }
}

.get-username-modal {
    width: 100%;
    height: 100%;
    background-color: $light-gray;
    color: $main-dark;
    opacity: 1;
    position: fixed;
    inset: 0rem;
    display: grid;
    
    form {
        max-width: 45.75rem;
        width: inherit;
        border-radius: 0.5rem;
        margin: auto;
        background-color: $pure-white;
        align-self: center;
        position: relative;

        article {
            position: relative;
        }

        label {
            font-size: 0.6rem;
            font-weight: 500;
            margin-bottom: 0.8rem;
            margin-left: 2rem;

            position: absolute;
            top: 0.85rem;
            left: 1.3rem;
            background-color: $pure-white;
            cursor: text;

            transition: all 0.1s ease-in;
        }

        input[type="text"] {
            width: 88%;
            height: 2rem;
            border-radius: 0.5rem;
            margin: 2rem;
            padding-left: 1.3rem;
            border: 1px solid $robin-egg-blue;

            font-size: 0.9rem;
            font-weight: 500;
            color: $main-dark;

            &:focus + label {
                top: -0.25rem;
                left: 1rem;
                cursor: default;
            }
        }

        button {
            font-size: 1.1rem;
            font-weight: 300;
            background-color: $robin-egg-blue;
            color: $pure-white;

            margin-bottom: 1rem;
            border-radius: 0.5rem;
            padding: 0.2rem 2rem;

            &:hover {
                background-color: $pure-white;
                color: $robin-egg-blue;
                outline: 1px solid $robin-egg-blue;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .game-main-body {
        max-width: 25rem;
        padding: 2rem 0rem;

        & > div  {
            gap: 0.5rem;
            margin: 0rem 1rem;

            .player-point {
                font-size: 6rem;
            }

            section {
                gap: 0.4rem;

                input[type="radio"] {
                    width: 2rem;
                    height: 2rem;
                    background-size: 2rem;

                    @include forWidth(343px) {
                        width: 1.5rem;
                        height: 1.5rem;
                        background-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-height: 493px) {
    .game-main-body {
        padding: 1rem 0rem;

        & > div .player-point {
            font-size: 29vh;
        }
    }
}